.about-us{
    z-index: 2;
    position: absolute;
}

.about-us__title::before{
    content: '';
    display: inline-flex;
    background-image: url(../img/before.png);
    width: 156px;
    height: 52px;
    margin-right: 10px;
}

.about-us__title{
    margin-bottom: 30px;
}

.about-us__title::after{
    content: '';
    display: inline-flex;
    background-image: url(../img/after.png);
    width: 156px;
    height: 52px;
    margin-left: 10px;
}

.about-us__text{
    padding: 0 210px;
    white-space: pre-line;
}


@media (max-width: 1536px){
    .about-us__title{
        margin-bottom: 20px;
    }
    .about-us__text{
        font-size: 35px;
        line-height: 35px;
    }
}