.advantages{
    padding-top: 390px;
    background-color: #A5C168;
}

.advantages__title::before{
    content: '';
    display: inline-flex;
    background-image: url(../img/before.png);
    width: 156px;
    height: 52px;
    margin-right: 10px;
}

.advantages__title{
    margin-bottom: 30px;
}

.advantages__title::after{
    content: '';
    display: inline-flex;
    background-image: url(../img/after.png);
    width: 156px;
    height: 52px;
    margin-left: 10px;
}
.advantages__subtitle{
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 50px;
    }

.advantages__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 210px;
}

.advantages__item{
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 9px;
}
.advantages__item:last-child{
    margin-bottom: 50px;
}

.advantages::after{
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 1553px;
    left: 609px;
    background-image: url(../img/Ellipse.png);
    width: 704px;
    height: 704px;
}

.berry{
    position: absolute;
    left: 890px;
    top: 2102px;
}

@media (max-width: 1536px){
    .advantages{
        padding-top: 430px;
    }
    .advantages__title{
        margin-bottom: 15px;
    }
    .advantages__subtitle{
        margin-bottom:  15px;
    }
    .advantages__item{
        font-size: 30px;
        line-height: 30px;
    }
    .advantages::after{
        top: 1453px;
        left: 419px;
        width: 704px;
        height: 704px;
    }
    .berry{
        left: 700px;
        top: 1982px;
        scale: 1.25;
    }
}