.advantages{
    padding-top: 390px;
    background-color: #A5C168;
}

.advantages__title::before{
    content: '';
    display: inline-flex;
    background-image: url(../img/before.png);
    width: 156px;
    height: 52px;
    margin-right: 10px;
}

.advantages__title{
    margin-bottom: 30px;
}

.advantages__title::after{
    content: '';
    display: inline-flex;
    background-image: url(../img/after.png);
    width: 156px;
    height: 52px;
    margin-left: 10px;
}
.advantages__subtitle{
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 50px;
    }

.advantages__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 210px; 
}

.advantages__item{
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 9px;
}
.advantages__item:last-child{
    margin-bottom: 50px;
}

.advantages::after{
    content: '';
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: calc(1400px + 280px);
    margin-left: calc((100vw - 704px)/2);
    background-image: url(../img/Ellipse.png);
    background-repeat: no-repeat;
    width: 704px;
    height: 704px;
}

.berry{
    scale: 1.4;
    position: absolute;
    margin-left: calc((100vw - 140px)/2);
    top: 2152px;
}

@media (max-width: 1668px){
    .advantages::after{
        top: calc(1216.25px + 350px);
    }

    .advantages__subtitle{
        margin-bottom:  15px;
    }

    .berry{
        top: 2100px;
        scale: 1.15;
    }
}

@media (max-width: 1536px){
    .advantages{
        padding-top: 430px;
    }
    .advantages__title{
        margin-bottom: 15px;
    }
    .advantages__subtitle{
        margin-bottom:  15px;
    }
    .advantages__item{
        font-size: 30px;
        line-height: 30px;
    }
    .advantages::after{
        top: calc( 1190px + 250px);
    }
    .berry{
        top: 1982px;
        scale: 1.25;
    }
}


@media (max-width: 1020px){
    .advantages{
        padding-top: 340px;
    }

    .advantages__subtitle{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .advantages__title::before{
        content: '';
        display: inline-flex;
        background-image: url(../img/before-mid.png);
        width: 91px;
        height: 31px;
        margin-right: 3px;
    }
    
    .advantages__title{
        margin-bottom: 10px;
    }
    
    .advantages__title::after{
        content: '';
        display: inline-flex;
        background-image: url(../img/after-mid.png);
        width: 91px;
        height: 31px;
        margin-left: 3px;
    }

    .advantages__list{
        padding: 0 110px; 
    }

    .advantages__item{
        font-size: 25px;
        line-height: 25px;
    }

    .advantages::after{
        top: calc(1190px - 300px);
    }

    .berry{
        top: 1450px;
        scale: 1;
    }
}


@media (max-width: 720px){
    .advantages__item{
        font-size: 21px;
        line-height: 21px;
    }

    .advantages::after{
        top: 1270px;
        background-image: url(../img/Ellipse-mid.png);
        scale: 2;
        margin-left: calc((100vw - 351px)/2);
        top: calc(1190px);
        scale: 1;
        width: 351px;
        height: 351px;
    }

    .advantages__list{
        padding: 0 10px;
    }

    .berry{
        top: 1400px;
        scale: 0.9;
    }
}

@media  (max-width: 448px){
    .advantages__title::before{
        content: '';
        display: inline-flex;
        background-image: url(../img/before-min.png);
        width: 47px;
        height: 16px;
        margin-right: 3px;
    }
    
    .advantages__title{
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 30px;
    }
    
    .advantages__title::after{
        content: '';
        display: inline-flex;
        background-image: url(../img/after-min.png);
        width: 47px;
        height: 16px;
        margin-left: 3px;
    }

    .berry{
        scale: 0.7;
    }

}

@media (max-width: 415px){
    .advantages{
        padding-top: 90px;
        background-color: #A5C168;
    }
    
    .advantages__title::before{
        content: '';
        display: inline-flex;
        background-image: url(../img/before-min.png);
        width: 47px;
        height: 16px;
        margin-right: 3px;
    }
    
    .advantages__title{
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 15px;
    }
    
    .advantages__title::after{
        content: '';
        display: inline-flex;
        background-image: url(../img/after-min.png);
        width: 47px;
        height: 16px;
        margin-left: 3px;
    }
    .advantages__subtitle{
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
        margin-bottom: 12px;
        }
    
    .advantages__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 25px;
    }
    
    .advantages__item{
        text-align: center;
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
        margin-bottom: 4px;
    }
    .advantages__item:last-child{
        margin-bottom:  0px;
    }
    
    .advantages::after{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        background-image: url(../img/Ellipse-min.png);
        margin-left: calc((100vw - 246px)/2);
        top: calc(301.88px + 5px);
        width: 246px;
        height: 246px;
    }
    
    .berry{ 
        scale: 0.35;
        top: 448px;
    }
}

@media (max-width: 394px) {
    .advantages__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px;
    }
}

@media (max-width: 320px) {
    .advantages__item{
        font-size: 8px;
        line-height: 8px;
    }
}