.footer{
    background-color: #132C14;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 570px;
}
.footer-text{
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.footer::before{
    content: '';
    background-image: url(../img/pines_bottom.png);
    display: block;
    position: absolute;
    z-index: 1;
    top: 3790px;
    left: 0;
    width: 1920px;
    height: 315px;
}

@media (max-width: 1668px){
    .footer::before{
        width: 1668px;
        height: 273.66px;
        background-image: url(../img/pines_bottom-1668.png);
        top: 3680px;
    }
}

@media (max-width: 1536px){
    .footer::before{
        width: 1536px;
        height: 252px;
        background-image: url(../img/pines_bottom-1536.png);
        top: 3320px;
    }
    .footer{
        padding: 0 480px;
    }
}

@media (max-width: 415px) {
    .footer{
        background-color: #132C14;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 70px;
    }
    .footer-text{
        font-weight: 400;
        font-size: 10px;
        line-height: 100%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
    }
    
    .footer::before{
        content: '';
        background-image: url(../img/pines_bottom-414.png);
        display: block;
        position: absolute;
        z-index: 1;
        top: 1078px;
        left: 0;
        width: 414px;
        height: 67.92px;
    }    
}