html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    min-width: 320px;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #F9F9F9;;
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 1;

}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: inherit;
    text-decoration: none;
}

ul,
ol{
    list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
figure{
    padding: 0;
    margin: 0;
}

section{
    padding: 0, 50px;
}

button{
    cursor: pointer;
}

h1{
    font-weight: 400;
    font-size: 70px;
    line-height: 62px;
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

h2{
    text-align: center;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 30px;
}

p{
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}


body{
    font-family: 'Didact Gothic', sans-serif;
}

h1,h2{
    font-family: 'Ruslan Display', cursive;
}

@media (max-width: 1668px) {
    h1{
        font-size: 65px;
        line-height: 65px;
    }

}

@media (max-width: 1536px) {
    h1{
        font-size: 56px;
        line-height: 56px;
    }


}

@media (max-width: 1020px){
    h1{
        font-size: 35px;
        line-height: 35px;
    }
    h2{
        font-size: 35px;
        line-height: 35px;
    }

    p{
        font-size: 10px;
        line-height: 10px;
    }
}

@media (max-width: 730px){
    h1{
        font-size: 30px;
        line-height: 30px;
    }

    p{
        font-size: 21px;
        line-height: 21px;
    }
}



@media (max-width: 415px) {
    h1{
        font-size: 17px;
        line-height: 17px;
    }

    h2{
        font-size: 15px;
        line-height: 15px;
    }

    p{
        font-size: 10px;
        line-height: 10px;
    }
}

@media(max-width: 320px){
    h1{
        font-size: 12px;
        line-height: 12px;
    }

}
