.home-screen{
    max-width: 1920px;
    min-height: 960px;
    background-image: url(../img/home-screen__bg-max.png);
    background-repeat: no-repeat;
    margin-bottom: 122.5px;
}
.header{
    background-color: rgba(34, 48, 28, 0.5);
    border-bottom: 2px solid #FFF7F3;
    display: flex;
    justify-content: space-between;
    padding: 0 128px 0 228px;
}

.logo{
    padding: 17px 0;
}

.navigation{
    display: flex;
    align-items: center;
}

.nav__list{
    display: flex;

}
.nav__item{
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    margin-right: 24px;
}
    
.nav__item:last-child{
    margin-right: 0;
}

.home-screen__title{
    padding: 137px 228px 0 1084px;
}

.home-screen::after{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 240px;
    background-image: url(../img/pines_top.png);
    width: 1920px;
    height: 1400px;
}

@media (max-width: 1686px){
    .home-screen{
        margin-bottom: 40px;
    }
    .home-screen__title{
        padding: 100px 100px 0 950px;
    }
    .home-screen::after{
        width: 1668px;
        height: 1216.25px;
        top: 340px;
        background-image: url(../img/pines_top-1668.png);
    }
}

@media (max-width: 1536px) {
    .home-screen{
        margin-bottom: 50px;
    }
    .header{
        padding: 0 100px 0 200px;
    }
    .nav__item{
        font-size: 18px;
        line-height: 18px;
        margin-right: 18px;
    }
    .home-screen__title{
        padding: 100px 100px 0 970px;
    }
    .home-screen::after{
        width: 1536px;
        height: 1190px;
        top: 380px;
        background-image: url(../img/pines_top-1536.png);
    }
}

